# Simple Installation - Ek-ek karke install hoga
opencv-python==4.8.1.78
numpy==1.24.3
pillow==10.1.0
matplotlib==3.8.2
imutils==0.5.4
easyocr==1.7.0
ultralytics==8.0.200
streamlit==1.28.0
pandas==2.1.3